body {
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(22,24,144,1) 35%, rgba(18,191,226,1) 100%);/*#282828*/
}

input[type="text"] {
	background-color: #C0D5FF;
	font-size: 1em;
	color: #272727;
}

.animation-box .animated-box {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 5px solid rgba(255,255,255,0.8);
}

.animation-box .animated-box:nth-child(1){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}

.animation-box .animated-box:nth-child(2){
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.animation-box .animated-box:nth-child(3){
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.animation-box .animated-box:nth-child(4){
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.animation-box .animated-box:nth-child(5){
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.animation-box .animated-box:nth-child(6){
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.animation-box .animated-box:nth-child(7){
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.animation-box .animated-box:nth-child(8){
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.animation-box .animated-box:nth-child(9){
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}

.animation-box .animated-box:nth-child(10){
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

@keyframes animate{
	0%{
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}
	
	100%{
		transform: scale(1.3) translateY(90px) rotate(360deg);
		opacity: 0;
	}
}
/*****************************SIDEBAR*****************************/

/* The sidepanel menu */
.sidepanel {
	bottom: 0;
	width: 12.5em; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: -12.75em;
	background-color: rgb(179,107,0); /*92,0,153-viola, 47,69,1-verde*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 3.75em; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
	border-top-right-radius: 1em;
}

/* The sidepanel links */
.sidepanel a, .side-elem, .side-elem label, .side-elem span{
  padding: 0.4em;
  text-decoration: none;
  font-size: 1.13em;
  font-family: sans-serif;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.side-elem span {
	position: fixed;
}

.side-elem {
  margin-left: 1em;
}

.side-elem label{
  display: inline;
}

.sidepanel .side-elem:not(#logo):not(.sidebar-log-buttons):hover {
  margin-left: 2em;
}

.sidebar-log-buttons > a:hover {
  margin-left: 0.5em;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 2.3em;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
	position: fixed;
	top: 0;
	margin: 2%;
	font-size: 1.3em;
	font-family: sans-serif;
	cursor: pointer;
	background-color: transparent;/*rgba(0,0,0,0.0)*/
	color: rgb(179,107,0);
	padding: 0.5em 0.7em;
	border-radius: 0.5em;
	border: 0.1em outset rgb(179,107,0);/*wihte vince sempre*/
	border-radius: 7px;
}

.openbtn:hover {
	background-color: #444;
}

.login-signup-buttons, .profile-logout-buttons {
	position: absolute;
	bottom: 5em;
}

#loginButton, #signupButton, #profileButton, #logoutButton{
	display: block;
}

.list {
	height: 37.5em;
	overflow-y: scroll;
}

.backside-list-i-have-created {
	height: 25%;
	overflow-y: auto;
	margin-bottom: 2em;
}

.backside-list-i-belong {
	height: 25%;
	overflow-y: auto;
}

.teams-list-span {
	color: white;
	font-size: 1.2em;
	font-family: sans-serif;
	margin-left: 1em;
}

#newTeamButton	{
	position: absolute;
  	left: 1.2em;
	bottom: 10%;
	border-radius: 0.5em;
	border: 2px solid white;
}
/*
@media screen and (max-height: 40em) {
   #newTeamButton {
   		display: none;
   }
}
*/
#newOrganizationButton	{
  max-width:9em;
  min-width:9em;
  position: absolute;
  left: 0.5em;
	bottom: 9.5em;
	border-radius: 0.5em;
	border: 2px solid white;
}

#deleteOrganizationButton	{
  max-width:9em;
  min-width:9em;
  position: absolute;
  left: 0.5em;
	bottom: 5em;
	border-radius: 0.5em;
	border: 2px solid white;
	
}


#logo img{
  width: 8em;
  height: 4em;
}

.tournaments > h2 {
  margin-top: 1%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  #454545;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* organization backside */
.backside-list ul {
	list-style: none;
}

.team-logo {
	margin-left: 2em;
	padding: 1em;
	color: white;
	cursor: pointer;
}

.team-logo img {
	width: 6em;
	border-radius: 0.5em;
}

/*                      TEAMS LOGOS TOOLTIP                      */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
