.inline {
  display: inline;
}

.side-panel {
  bottom: 0;
  width: 30em;
	position: fixed;
	z-index: 1;
	top: 0;
	right: -30em;
	background-color: rgb(179,107,0);
	overflow-x: hidden;
	padding-top: 3.75em;
	transition: 0.5s;
	border-top-left-radius: 1em;
}

.side-panel-form{
  right: 3em;
  padding: 0.2em;
  margin: 0.5em;
  font-family: sans-serif;
  color: white;
}

.writings h1 {
  margin-left: 0.5em;
  font-size: 3em;
  color: white;
}

.form-elem {
  margin-left: 3em;
  font-size: 1.13em;
}

#choose-img, .side-panel input[type="button"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.side-panel input, .label-button{
  padding: 0.2em;
  border: 0.15em outset orange;
  border-radius: 0.5em;
}

.label-button{
  cursor: pointer;
  transition: 0.5s;
}

label[for="choose-img"] {
  position: fixed;
  margin-top: 15em;
  width: 4em;
  text-align: center;
}

.label-button:hover{
  background-color: #EAA022;
}

#img-logo {
  width: 16em;
  height: 16em;
  background: #C0D5FF;
  margin: 0.5em 0.2em;
  border: 0.2em solid orange;
  border-radius: 1em;
}

.btns {
  position: absolute;
  margin-top: 15em;
}

/*            POPUP            */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  font-size: 0.7em;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 70%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 8s forwards;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  0% {opacity: 0;} 
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;} 
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}