@import url('https://fonts.googleapis.com/css2?family=Lobster&family=MonteCarlo&family=Waterfall&display=swap');

.tab-content {
  display: none;
}

.active {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 21px;
  color: #edf0f1;
  text-decoration: none;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid orange;
}

.tab {
  cursor: pointer;
  padding: 15px;
}

.tab.active {
  background-color: rgb(179,107,0);;
}

.tab:hover {
  transition: 0.3s;
  background-color: rgba(179,107,0, 0.8);
}

.tabs-contents {
  color: #FFF;
  text-align: center;
}

#organization-banner {
	max-height: 15%;
}

#org-description {
  text-decoration: none;
}

#org-description textarea {
  padding: 1em;
  resize: none;
  background-color: #BFC0C4;
  width: 80%;
  height: 99%;
  border: none;
  border-radius: 0.5em;
  font-size: 1.5em;
}

#org-info button {
	margin: 5px;
}

#staffContent {
	position: absolute;
	left: 45%;
}

#tournamentsContent {
	position: absolute;
	left: 45%;
}

.staffTable table, .tournamentTable table{
  border-collapse: collapse;
  width: 100%;
}

.staffTable th, .staffTable td , .tournamentTable th, .tournamentTable td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.staffTable tr:hover, .tournamentTable tr:hover{
	background-color: orange;
}

.staffTable img, .tournamentTable img {
	width: 6em;
}

#twitch-embed {

}

.createTournamentBtn {
	position: fixed;
	right: 15em;
	bottom: 15em;
	width: 10em;
}

.createTournamentBtn button {
	width: 100%;
	font-family: sans-serif;
	font-size: 1.3em;
	border: 0.1em solid orange;
	background-color: #FF6800;
	cursor: pointer;
	color: white;
	border-radius: 1em;
	transition: 0.2s;
}

.createTournamentBtn button:hover {
	background-color: orange;
}
